:root{
    --userWidth:66.66777719%
}
.MainProfile{
    background-color: rgb(0, 0, 0);
    height: 90%;
    width: 100%;
    padding: 30px 20px 0;
    margin-bottom: 30px;
}
.header{
    width: 100%;
    height: 194px;
    background-color: rgb(0, 0, 0);
    display: grid;
    grid-template-columns: auto var(--userWidth);
}
.item1Img{
    background-image: url('https://thumbs.dreamstime.com/b/default-avatar-profile-icon-vector-social-media-user-image-182145777.jpg');
    background-position: center;
    background-size: cover;
    border-radius: 50%;
    aspect-ratio: 1;
    height: 150px;
}
.item1 {
    grid-row: span 3;
    margin-right: 28px;
    display: flex;
    justify-content: center;
  }
  .item2 {
    margin-bottom: 20px;
    height: 33px;
    display: flex;
  }
  
  .item3 {
    height: 39px;
    display: flex;
    align-items: center;
  }
  .NPost{
    font-size: 16px;
    font-weight: 600;
    line-height: 18px;
    margin-right: 40px;
    color: rgb(245, 245, 245);
  }
  .item4 {
    height: 57px;
    color: rgb(245, 245, 245);

  }

  .Name{
    height: 18px;
    font-size: 14px;
    line-height: 18px;
    font-weight: 600;

  }
  .threadName{
    height: 26px;
    padding: 6px 7px;
    font-size: 14px;
    line-height: 18px;
    border-radius: 100px;
    width: fit-content;
    font-size: 12px;
    font-weight: 400;
    background: rgb(54, 54, 54);

  }
  .item5 {
    grid-column: span 2;
    background-color: lightpink;
    margin-top: 30px;
    height: 0;
  }
  
.username{
    color: white;
    font-size: 20px;
    font-weight: 400;
    line-height: 25px;
    margin-right: 20px;
    word-break: break-word;
    white-space-collapse: collapse;
    text-wrap: nowrap;
    text-size-adjust: 100%;
    text-overflow: ellipsis;
    text-align: start;
    overflow: hidden;
    overflow-wrap: break-word;
    max-width: 100%;list-style-type: none;
    list-style-image: none;
    list-style-type: none;
    height: 25px;

}
.UserB2{
    padding: 0 16px;
    height: 32px;
    background-color: aqua;
    border-radius: 8px;
    font-size: 14px;
    font-weight: 600;
    line-height: 18px;
    background: rgb(54, 54, 54);
    display: flex;
    align-items: center;
    color: rgb(245, 245, 245);
    margin-right: 10px;
}
.Follow{
  color: rgb(64, 132, 181);
}
.Highlights{
  height: 130px;
  margin-bottom: 44px;
}
.newHigh{
  padding: 10px 15px;
  height: 108px;
  width: 85px;
}
.newHighD{
  width: 100%;
    /* height: 100%; */
    aspect-ratio: 1;
    border-radius: 50%;
    /* background: #000; */
    border: 3px solid white;
    position: relative;
}
.postBar{
  width: 100%;
  height: 52px;
  display: flex;
    justify-content: center;
    border-top: 1px solid antiquewhite;
}
.POSTS,.SAVED,.TAGGED{
  margin-right: 60px;
  margin-top: 1px;
  display: flex;
  align-items: center;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 1px;
  line-height: 8px;
  color: rgb(245, 245, 245);
}
.Select{
  border-top: 2px solid darkblue;
}
.plus{
  position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 77px !important;
    background: aqua;
    border-radius: 50%;
}
.POSTIMG{
  width: 100%;
  height: 600px;
  background-color: green;
  display: flex;
}
.img{
  width: 30%;
    aspect-ratio: 1 / 1;
    overflow: hidden;
    margin: 0 5px 5px;
}
.img20{
aspect-ratio: 1;  
  width: 100%;
  object-fit: cover;
}
.Posts{
    display: flex;
    flex-wrap: wrap;
  }