.home-post{
    width:468px;
    margin-bottom: 20px;
    /*height: calc(100% - 20px);*/
}
.post-heading{
    width:100%;
    padding: 0px 0px 12px 4px;
    height:32px;
    position: relative;
  display: flex;
}
.home-post-profile-pic{
    width: 32px;
  display: flex;
  height: 32px;
  object-fit: cover;
}
.home-post-profile-pic img{
    width: 100%;
    border-radius: 50%;
    object-fit: cover;
}
.home-post-ownername{
    width:fit-content;
    height:100%;
    align-items: center;
    display: flex;
    margin-left: 15px;
}
.home-post-ownername svg{
    font-size: larger;
    margin-left: 10px;
}
.home-post-ownername span:nth-child(2){
    font-size: smaller;
    margin-left: 5px;
}
.float-right{
  position: absolute;
  right: 30px;
  font-size: xx-large;
  color: white;
}
.hPost{
    width: 468px;
    height:468px;
}
.hPost img{
    width:100%;
    height:100%;
    object-fit: cover;
    object-position: top;
}
.post-description{
    display: flex;
}
.cs-bottom-2{
    font-size: 14px;
    line-height: 18px;
}
.truncate {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
  }
.post-detail{
    width:100%;
    height:162px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    color: white;
}
.ml-2 svg{
    padding: 8px;
    height: 24px;
    width: 24px;
    color: white;
}
.post-buttons{
    display: flex;
    justify-content: space-between;
    margin: 4px 0;
    height: 40px;
}
.Description{
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
}
.commentUsername{
    font-size: 14px;
    font-weight: 600;
    line-height: 18px;
}
.IMG-Des{
    width: 32px;
    height: 32px;
    padding: 5px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 8px;
}
.add-Comments{
    width:90%;
    height:auto;
    display: flex;
    justify-content: center;
  align-content: center;
}
.add-Comments textarea{
    border: none;
  display: flex;
  flex-grow: 1;
  height: fit-content;
  background: black;
  resize: none;
  color: white;
  outline: none;
}
textarea::placeholder {
    text-align: center;
  }
  
.add-Comments a{
    display: none;
  justify-content: center;
  align-items: center;
}
.faceSmile{
    position: relative;
    top: 50%;
    transform: translate(0px, -50%);
    margin-left: 5px;
}
@keyframes heartbeat {
    0% { transform: scale(1); }
    50% { transform: scale(1.3); }
    100% { transform: scale(1); }
}

/* Apply heartbeat animation to the clicked class */
.clicked {
    animation: heartbeat 0.5s;
    color: red; /* Change to desired color */
}
.unliked{
    animation: heartbeat 0.5s;
    color: rgb(255, 255, 255);
}