.centre-display{
    width: 60%;
    height: 100%;
    display: flex;
    align-items: center;
    /* display: none; */
    position: absolute;
    /* display: none; */
    /* overflow: visible; */
    position: absolute;
    z-index: 5;
    max-width: 750px; /* Set maximum width to 750px */
    width: 90%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.centre-display-div{
    width: 94.32%;
    height: 90vh;
    background-color: #FFD43B;
    display: flex;
    justify-content: center;
    align-items: center;
}
.video-side{
    width:44.37%;
    height:100%;
    background-color: aqua;
}
.video-side img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.comment-side{
    flex-grow: 1;
    height:100%;
    background-color: blue;
    position: relative;
    display: flex;
  flex-direction: column;
}
.status-img{
    background-image: linear-gradient(to bottom, #1500ff, #ff00b3,#1500ff, #ff00b3);
    padding: 1px;
    border-radius: 50%;
}
.cs-head{
    height:44px;
    padding:14px 16px 3px;
    display: flex;
    flex-grow: 1;
    max-height: 44px;
}
.cs-head-sp-1{
    padding: 2px;
    width:fit-content;
    height:18px;
    font-size: 14px;
    font-weight: 460;
    line-height: 18px;
}
.cs-head-sp-2{
    width:fit-content;
    height:18px;
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
}
.cs-head button{
    width: 24px;
  height: 24px;
  padding: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  background: transparent;
  color: white;
  font-size: 20px;
}
.cs-head div{
    margin-left: 14px;
    height:44px;
    display: flex;
    flex-grow: 1;
    flex-direction: column;

}
.cs-mid{
    padding:16px;
    display: flex;
  flex-direction: column;
  flex-grow: 1;
}
.cs-mid-div-1{
    padding:5px 16px 16px;
    padding-left: 0;
    display: flex;
    flex-grow: 1;
    height:167px;
    background-color: #ff00b3;
    max-height: 167px;
}
.cs-mid-div-2{
    height:84px;
    background-color: #1500ff;
    display: flex;
  flex-grow: 1;
  flex-direction: column;
  overflow: scroll;
  scrollbar-width: none;
}
.cs-mid-div-2 img{
    width: 100px;
}
.cs-bottom{
    padding-left: 16px;
    margin-bottom: 35px;
}
.cs-bottom-1{
    padding:6px 16px;
    /*height:40px;*/
    width: 80%;
    position: relative;
    display: flex;
    padding-left: 0;
}
.cs-bottom-1-1 span{
    margin: 10px;
    margin-left: 0;
}
.cs-bottom-1-2{
    position: absolute;
    right: 0;
}
.cs-bottom-2 span{
height:18px;
color: white;
}
.cs-comment{
    position: absolute;
  bottom: 0;
  left: 10px;
}
.add-comments{
    width:90%;
    height:auto;
    display: flex;
    justify-content: center;
  align-content: center;
}
.add-comments textarea{
    border: none;
  display: flex;
  flex-grow: 1;
  height: fit-content;
  background: black;
  resize: none;
  color: white;
  outline: none;
}
textarea::placeholder {
    text-align: center;
  }
  
.add-comments a{
    display: none;
  justify-content: center;
  align-items: center;
}
.closeButton{
    position: absolute;
    top: 0;
    right: 0;
    width: 50px;
    height: 50px;
    font-size: xx-large;
    display: flex;
    align-items: center;
    justify-content: center;}
 .closeButton svg{
    color: yellow;
    background: aqua;
 }   