.Item{
    margin: 4px 0;
    padding: 12px;
    height: 24px;
    width: auto;
    display: flex;
}
.Item img{
    aspect-ratio: 1;
}
.ItemName{
    padding-left: 16px;
    height: 100%;
    width: fit-content;
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    color: white;
}
@media screen and (max-width:1264px) {
    .ItemName{
        display: none;
    }
}