.SideNavBar{
    width: 220px;
    height: 100vh;
    padding: 8px 12px 20px;
    display: flex;
    flex-direction: column;
}
.sideM{
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    justify-content: space-between;
}

@media screen and (min-width:1264px) {
    .SideNavBar{
        width: 220px;
    }
}
@media screen and (max-width:1264px) {
    .SideNavBar{
        width: 48px;
    }
}
@media screen and (max-width:766px) {
    .SideNavBar{
        display: none;
    }
}