.App{
  width: 100vw;
  height: 100vh;
  background: #000;
  position: fixed;
  display: flex;
    flex-direction: column;
    justify-content: space-between;
    scrollbar-width: none;
    
}
a {
  text-decoration: none;
}
@media screen and (min-width:766px) {
  .App{
    flex-direction: row;
  }
}